.itemContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  overflow: hidden;

  .subCategoryList {
    overflow: hidden;
    transform-origin: top;
    transition: all 0.3s ease;
  }
}
